entregas/**/*.o
entregas/**/*.out
entregas/**/*.ppm

# git worktrees
worktrees/

# arquivos de dados grandes
assets/**/*.h5
assets/**/*.keras
assets/**/*.zip

# ambiente e cache Python
.venv/
**/__pycache__/
*.keras
*.h5
